<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="ConexionLaptop"
			 connectionString="Data Source=LAPTOP-0NQ7LDJD;Initial Catalog=Sistema de Gestion de Turnos Medicos;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		<add name="ConexionPC"
			 connectionString="Data Source=LAPTOP-0NQ7LDJD,1433;Initial Catalog=Sistema de Gestion de Turnos Medicos;User ID=Remoto;Password=Holaloca22032005;Encrypt=False;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>



	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>